<!DOCTYPE html>
<html>
<body style="font-family:Arial;">
  <h2>Your Login OTP</h2>
  <p>Hello {{name}},</p>
  <p>Your OTP for login is:</p>
  <h1 style="color:#007bff;">{{otp}}</h1>
  <p>This OTP is valid for 5 minutes.</p>
</body>
</html>
